/* Light Theme */
:root {
    /* This is the way to declare a var  */
    --background-color: white;
    --link-color: darkred;
    --text-color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* This is the way to use a var */
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:focus, a:hover {
    text-decoration: underline;
    color: blue;
}

/* .NavBar ul{
    / Not show the • /
    list-style-type: none;
    padding: 0;
}

.NavBar li{
    display: inline;
}

/ To not add margin to the first element/
.NavBar li:not(:first-child){
    margin: 0.5rem;
} 
*/